<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new ToDo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<h1>Add new ToDo</h1>

<form method="post" th:object="${editToDo}">
    <input type="text" th:field="*{title}"><br>
    Done<input type="checkbox" th:field="*{done}"><br>
    Urgent<input type="checkbox" th:field="*{urgent}"><br>
    <input type="submit" value="Submit">
</form>

<a href="/todo/">Cancel</a>

</body>
</html>