<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit ToDo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

<div class="container">
    <h1>Edit ToDo</h1>
</div>
<div class="container">

    <form method="post" action="/todo/edit" th:object="${editToDo}">

        <input type="hidden" th:field="*{id}">

        <div class="form-group">
            <label for="title">ToDo</label><br>
            <input type="text" class="form-control" th:field="*{title}" id="title">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" th:field="*{done}" id="done">
            <label for="done" class="form-check-label">Done</label><br>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" th:field="*{urgent}" id="urgent">
            <label for="urgent" class="form-check-label">Urgent</label>
        </div>

        <select name="assignee">
            <option th:each="assignee : ${assignees}" th:text="${assignee.name}" th:value="${assignee.id}" class="form-control"></option>
        </select><br>

        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>

<div class="container">
    <a href="/todo/" class="material-icons" style="font-size: 50px">keyboard_backspace</a>
</div>

</body>
</html>